.phone{
    width: "14rem";
    height: "11rem"; 
    margin: "0.4rem"; 
    background-color: "rgba(0, 44, 66, 0.7)";
}

.portal{
    width: "12.5rem";
    height: "10rem"; 
    margin: "0.4rem"; 
    background-color: "rgba(0, 44, 66, 0.7)";
}

.box{
    width: "14rem";
    height: "11rem"; 
    margin: "0.4rem"; 
    background-color: "rgba(0, 44, 66, 0.7)";
}