img{
border-radius: 8px;
height: auto;
width: auto;
}
.img-m{
max-width: 250px;
}

.img-style{
padding: 30px;
}
.card-style{
padding-bottom: 20px;
padding-left: calc((100% - 50rem)/2 - 3.75rem);
padding-right: calc((100% - 50rem)/2);
margin: 0 auto;
display: block;
}
a{
text-align: left;
}
.text-style{
padding-bottom: 5px;
}