img{
    border-radius: 8px;
    height: auto; 
    width: auto; 
}
.img-m{
    max-width: 250px;
}

.img-style{
    padding: 30px;
}
.card-style{
    padding-bottom: 20px;
    margin: 0 auto;
    display: block;
}
a{
    text-align: left;
}
.text-style{
    padding-bottom: 5px;
}