img{
    border-radius: 8px;
    border: 5px solid #ddd;
    height: auto; 
    width: auto; 
    max-width: 250px;
}
.img-style{
    padding: 40px;
}
.card-style{
    padding-left: 230px;
    padding-right: 230px;
}
a{
    text-align: left;
}