img{
    border-radius: 8px;
    height: auto; 
    width: auto; 
}
.img-m{
    max-width: 250px;
}

.img-style{
    padding: 30px;
}
.card-style{
    padding-left: 230px;
    padding-right: 230px;
}
a{
    text-align: left;
}